<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet">
    <link href="../static/css/reset.css" type="text/css" rel="stylesheet">            
    <link href="../resources/css/styles.css" type="text/css" rel="stylesheet">
    <link href="../resources/css/reset.css" type="text/css" rel="stylesheet">            
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Fun with Beer!</title>
</head>

<body>
    <nav>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Beer</a>
            </div>  
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/">More<span class="caret"></span></a>
                    <ul class="dropdown-menu">    
                        <li><a href="/graphs">Graphs</a></li>
                        <li><a href="/recs">Recommendations</a></li>
                        <li><a href="/map">Map</a></li>                        
                    </ul>   
                </li>   
            </ul>
        </div>
    </nav>    
    <div class="container">
        <div class="jumbotron text-center">
            <div class="bg"></div>
                <h1><strong>Fun with Beer!</strong></h1>
                <p><strong>Let us help you find the beer you love</strong></p>
            </div>  
        </div>
    </div>        
    <div class="container-text-center">
        <center>
            <h1>About: Beer Characteristics</h1>
            <br>
            <br>
            <h2>Alcohol By Volume (ABV)</h2> 
            <br>
            <h3>Alcohol by volume (abbreviated as ABV, abv, or alc/vol) is a standard measure of how much alcohol (ethanol) is contained in a given volume of an alcoholic beverage (expressed as a volume percent). It is defined as the number of millilitres (mL) of pure ethanol present in 100 mL of solution at 20 °C (68 °F).</h3>
            <br>
            <br> 
            <h2>International Bitterness Units (IBU)</h2> 
            <br>
            <h3>An International Bitterness Unit (IBU) is a measure of the bitterness in beer. One IBU is equal to one milligram of isomerized alpha acid per liter of beer. Isomerized alpha acids are the main bittering acids derived from hops. IBU's can be estimated using one of several equations if one knows factors such as the alpha acid of the hops used, boil time and specific gravity of the wort.</h3>
            <br>
            <br> 
            <h2>Standard Reference Method (SRM)</h2> 
            <br>
            <h3>The Standard Reference Method, abbreviated as SRM is the color system used by brewers to specify finished beer and malt color. In the case of malt it is actually the SRM color of a laboratory wort made from the malt which is printed on the package. The SRM value is 12.7 times the log of the attenuation experienced by light of wavelength 430 nanometers (deep blue) in passing through 1 cm of the beer (or wort). The scaling factor (12.7) and path were chosen to make SRM values correspond closely to values measured in the Lovibond system which was in use at the time. The two systems are approximately equivalent for home brewing applications. SRM is also sometimes referred to Standard Research Method by some books but this is incorrect. Below are some approximate SRM color ranges.</h3>
            <br>
            <h3>Lovibond also known as degrees lovibond or abbreviated as L is a scale for measuring color originally introduced by Joseph Lovibond in the 1860's. To determine color the sample is placed in a "Tintometer" which also contains several numbered discs of tinted glass. The Lovibond color is the value assigned to the disc whose color most closely matches the sample. The original Lovibond scale was used to measure gas colors, but has since expanded to measure the colors of oils, chemicals, foods and beverages. For brewing, Lovibond is used primarily to specify grain colors - for example a dark roast malt might be 400 L, while a pale malt might only 2 or 3 L. In this application it is actually the color of a laboratory wort prepared from a sample of the malt under specified conditions whose color is determined. In older books, beer color may also be measured in Lovibond.</h3>
            <br>     
        </center>
    </div>
    <div id="app"></div>
</body>

</html>